@import "var";

@mixin headerFooter {
  // @include background-gradient();
  background-color: $primary-color;
  color: $text-color;
  font: {
    size: $title-font;
    family: $font-family;
  }
  height: 48px;
  line-height: 48px;
  @content;
}

@mixin button-design {
  background-color: $primary-color;
  border-radius: 6px;
  color: $text-color;
  border: none;
  font-size: $med-font;
  cursor: pointer;
}

@mixin background-gradient {
  background: $secondary-color;
  background: -webkit-linear-gradient(bottom, $secondary-color, $primary-color);
  background: -moz-linear-gradient(bottom, $secondary-color, $primary-color);
  background: linear-gradient(to top, $secondary-color, $primary-color);
}
