$font-size: 14;
$primary-color: black;
$secondary-color: rgba(255, 0, 0, 0.774);
$text-color: white;
$title-font: 24px;
$med-font: 18px;
$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
