@import "mixins";

body {
  margin: 0;
  padding: 0;
}
.header {
  @include headerFooter;
}

.footer {
  @include headerFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.content {
  width: 80%;
  margin: 32px auto;
  #content-result {
    display: none;
    visibility: hidden;
  }
  .input-field {
    height: 32px;
    width: calc(100% - 100px);
    font-size: $med-font;
    padding: 8px;
    border-radius: 6px;
    border: 2px solid #ccc;
  }

  .button-submit {
    width: 100px;
    @include button-design;
  }
  .weather-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    text-align: center;
    width: 30%;
    padding: 16px;
    margin-top: 32px;
    @include background-gradient();
    border-radius: 6px;
    color: $text-color;
  }
  .title-font {
    font-size: $med-font;
    font-family: $font-family;
  }
  #cityName {
    @extend .title-font;
    // color: $secondary-color;
    font-weight: bold;
  }
  .content-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #temperatureName {
    @extend .title-font;
    margin-bottom: 16px;
  }
  .more-info-card {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    width: 50%;
    margin-top: 32px;
    @extend .margin-left-s;
    background-color: rgba(204, 204, 204, 0.418);
    padding: 24px;
    border-radius: 6px;
  }
  #feelsLike {
    font-size: 36px;
    font-family: $font-family;
  }
  .small-font {
    font-size: 18px;
    margin-left: -8px;
  }
  .line {
    border-top: 2px dashed #ccc;
  }
  .image-icon {
    font-size: $lar-font;
    width: $lar-font;
    height: $lar-font;
    margin-right: 8px;
  }
}

// Standard Stylings

//Flex
.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

// Margin
.margin-xs {
  margin: 8px;
}
.margin-s {
  margin: 12px;
}
.margin-m {
  margin: 16px;
}
.margin-l {
  margin: 24px;
}

.margin-right-xs {
  margin-right: 8px;
}
.margin-right-s {
  margin-right: 12px;
}
.margin-right-m {
  margin-right: 16px;
}
.margin-right-l {
  margin-right: 24px;
}

.margin-left-xs {
  margin-left: 8px;
}
.margin-left-s {
  margin-left: 12px;
}
.margin-left-m {
  margin-left: 16px;
}
.margin-left-l {
  margin-left: 24px;
}

.margin-top-m {
  margin-top: 16px;
}

//Width
.width-1-1 {
  width: 100%;
}

.width-1-2 {
  width: 50%;
}
.width-1-4 {
  width: 25%;
}
//media queries

@media only screen and (max-width: 1200px) {
  .content {
    width: 80%;
  }
  #card {
    width: 60%;
  }
  #info-card {
    width: 60%;
    margin-bottom: 48px !important;
  }
}

@media only screen and (max-width: 925px) {
  .content {
    width: 90%;
  }
  #card {
    width: 80%;
  }
  #info-card {
    width: 80%;
    margin: 12px 0px;
  }
}

@media only screen and (max-width: 700px) {
  #card {
    width: 100%;
  }
  #info-card {
    width: 100%;
    margin: 12px 0px;
  }
}

@media only screen and (max-width: 500px) {
  #info-card {
    .width-1-2 {
      width: 100%;
      margin-top: 4px;
    }
  }
}
